#wapper{  
    position: relative;   
    height: auto;          
    min-height: 100%  ;
}  

body {	
	background-image: url(../images/se.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-repeat:repeat;
}

.jumbotron{
	opacity:0.8;
	
}

#footer {
	position: relative;  
	bottom: 0;
	left:0;
	height: 30px;
	background-color:#4c4c4c;
	color:white;
	clear:both;
	width:100%;
	text-align:center;
	padding:5px; 
}