/* maki */
[class*="maki-"]:before {
    font-family:'maki', sans-serif;
}
/* entypo */
[class*="entypo-"]:before {
    font-family:'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
    font-family:'FontAwesome', sans-serif;
}
body {
    color: #000000!important;
    font-family:"Open Sans", Arial, sans-serif!important;
    font-size: 13px!important;
    line-height: 20px;
    overflow-x: hidden!important;
    min-height: 100%;
    z-index: -2;
    margin: 0px !important;
    background: url('../img/bg.jpg') no-repeat top center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*
  PREALOADER
 */
 a:hover {
    text-decoration: none!important;
}
#preloader {
  
    /* IE 8 and below */
    height:5px;
   /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    background-color: rgba(37, 45, 59, 1.0);
    /* change if the mask should have another color then white */
    z-index: 2000;
    /* makes sure it stays on top */
    /*   background-image: url("../img/overlays/06.png");
  background-repeat: repeat; */
}

#logo {
    left: 19px;
    position: relative;
    top: -34px;
    max-width: 191px;
}
#logo-mobile {
    left: -33px;
    position: absolute;
    top: -14px;
    z-index: 0;
}
#logo h1, #logo-mobile h1 {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -1px;
    text-decoration: inherit;
    text-transform: uppercase;
    color: #fff;
}
#logo h1 span, #logo-mobile h1 span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-size: 11px;
    margin-left: 0;
    padding: 0 5px;
    position: relative;
    top: -3px;
}
/**
 * BOOTSRAP COUSTOM
 */
 .container-fluid {
    padding-left: 0!important;
    padding-right: 0!important;
}
.row-fluid[class*="span"] {
    margin-left: 0!important;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 0px 16px!important;
    margin-top: 2px!important;
    margin-right: 15px;
    margin-bottom: 15px!important;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px!important;
    font-size: 31px!important;
    color: #fff!important;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent!important;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 5px!important;
}
.navbar-top {
    position: relative;
    top: 10px;
}
.navbar-nav > li > a {
    color: #F5F5F5!important;
    font-size: 13px!important;
}
.nav-pills > li > a {
    color: #999;
}
.navbar {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 0!important;
    margin-top: 10px!important;
    min-height: 65px!important;
    position: relative!important;
}
.navbar-inner {
    min-height: 60px!important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: transparent!important;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
<<<<<<< HEAD
    margin: 3px 0 0;
=======
    margin: 0;
>>>>>>> origin/csy
    min-width: 160px;
    position: absolute;
    top: 100%;
    z-index: 2147483647!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
<<<<<<< HEAD
    border: 0px solid #ccc!important;
=======
    border: 1px;
>>>>>>> origin/csy
    
}
.dropdown-wrap:after {
    border-color: #FFFFFF rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 13px 13px;
    content:"";
    display: block;
    left: 10.5%;
    margin-left: -15px;
    position: absolute;
    top: -10px;
    width: 0;
    z-index: 1;
}
.dropdown-setting {
    border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    margin-top: 14px !important;
    position: absolute;
    border-radius: 4px!important;
    width: 165px!important;
}
.dropdown-setting:after {
    border-color: #FFFFFF rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 13px 13px;
    content:"";
    display: block;
    left: 80%;
    margin-left: -15px;
    position: absolute;
    top: -10px;
    width: 0;
    z-index: 1;
}
.dropdown-menu.dropdown-wrap b {
    background: none repeat scroll 0 0 #A8BDCF;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    margin-top: 0;
    padding: 2px 4px;
    position: absolute;
    right: 10px;
}
.dropdown-menu.dropdown-wrap div {
    background: none repeat scroll 0 0 #A8BDCF;
    bottom: 2px;
    color: #FFFFFF;
    font-size: 13px;
    left: 0;
    padding: 6px;
    position: relative;
    text-align: center;
    width: 230px;
    cursor: pointer;
}
.dropdown-menu.dropdown-wrap div:hover {
    background: none repeat scroll 0 0 #0DB8DF;
}
.inlinebar > canvas {
    margin: 0 auto;
    text-align: center;
}

.progress {
    background-color: #F5F5F5!important;
    border-radius: 4px!important;
    height: 15px!important;
    margin-bottom: 15px!important;
    overflow: hidden!important;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset!important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset!important;
}

.setting-wrap {
    margin: 30px;
    width: 200px;
    min-height: 100px;
}

.form-control:focus {
    border-color:#000000!important;
    outline: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none!important;
    border-color: none!important;
}
.dropdown-menu > li > a {
    font-size: 13px;
}
.dropdown-menu > li > a {
    clear: both;
<<<<<<< HEAD
    color: #777777!important;
=======
    color: #000000!important;
>>>>>>> origin/csy
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 30px!important;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover {
    color: #39B3D7!important;
}
.devider {
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 40px;
    border-bottom: 3px solid #000000 !important;
    box-shadow: 0 1px 0 #4A6390;
    -moz-box-shadow: 0 1px 0 #4A6390;
    -webkit-box-shadow: 0 1px 0 #4A6390;
}
.divider-vertical {
    border-right: 2px solid #000000;
    box-shadow: 2px 0 0 #4A6390;
    float: right;
    height: 60px;
}
.form-control {
    background-color: #000000;
    background-image: none;
    border: 1px solid !important;
    border-radius: 4px;
    border-bottom-color: #ffffff;
    box-shadow: none !important;
    color: #000000!important;
    font-size: 13px !important;
    height: 31px !important;
}
.form-update {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid !important;
    border-radius: 4px;
    box-shadow: none !important;
    color: #C7D5E0 !important;
    font-size: 13px !important;
    height: 70px !important;
    width: 100%;
}
.panel {
    background-color: #FFFFFF;
    border: 0 solid rgba(0, 0, 0, 0)!important;
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05)!important;
    margin-bottom: 20px;
}
.carousel-control.right, .carousel-control.left {
    background: transparent!important;
}
.carousel-control {
    color: #FFFFFF!important;
    text-shadow: none!important;
}
.modal-backdrop {
    background-color: transparent!important;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed!important;
    right: 0;
    top: 0;
    width: 100% !important;
    z-index: 0 !important;
}
.modal {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8)!important;
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow-x: auto;
    overflow-y: hidden!important;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}
.list-group-item {
    background-color: rgba(255, 255, 255, 0.1)!important;
    border: 1px solid #EEEEEE!important;
}
/**
 *BACKGROUND CHANGER
 */
 .theme-bg {
    margin: 0 5px!important;
}
.theme-bg div {
    display: inline-block;
    float: left;
}
#button-bg {
    background: url("../img/small-bg5.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg2 {
    background: url("../img/small-bg2.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg3 {
    background: url("../img/small-bg.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg5 {
    background: url("../img/giftly.png") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg6 {
    background: none repeat scroll 0 0 #2C3E50;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg4 {
    background: #252d3b;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg7 {
    background: url("../img/bg3.png") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg8 {
    background: url("../img/small-bg8.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg9 {
    background: url("../img/small-bg9.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg10 {
    background: url("../img/small-bg10.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg11 {
    background: url("../img/small-bg11.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg12 {
    background: url("../img/small-bg12.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#button-bg13 {
    background: url("../img/small-bg13.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

/**
 * SIDE MENU SEARCH
 */
 #search {
    float: right;
}


.search {
    padding: 10px 15px 10px 60px;
    width:100%;
}

.search-menu {
    border-radius: 4px;
    margin: 0 10px;
}
.dark {
    background: url("../img/search-white.png") no-repeat scroll 36px 12px;
    margin-top: -18px;
    padding: 0 10px;
    border-radius: 4px;
}
.dark input[type=text] {
    border-bottom: medium none;
    border-top: medium none;
    border-left: medium none;
    border-right: medium none;
    color: #FFFFFF;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

input: -moz-placeholder {
    color: #999999;
}

.search-hover {
    display: block;
    position: absolute;
    top: 45px;
    left: 200px;
    right: -100px;
}
input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none;
}

input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

.map-frame {
    border: 1px solid #ccc;
    padding: 0;
}
.arrival {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.table-information {
    width: 50%;
    position: fixed;
    right: 15px;
    top: 20px;
}
.toogle-menu {
    background: none repeat scroll 0 0 #000000;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    cursor: pointer;
    height: 22px;
    padding: 6px;
    width: 18px;
}
#tree-wrap {
    height: 470px;
    width: 100%;
    overflow-y: none;
    overflow-x: none;
}
#ticker {
    height: 80px;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    right: 27px;
    top: 25px;
    width: 100%;
}
#ticker li {
    color: #F4AF0B;
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 80px;
    padding: 22px;
    text-align: center;
}
.ticker2 {
    padding: 0;
    list-style-type: none;
    height: 100px !important;
    position: relative !important;
    margin: 0;
    top: 38px;
    left: 0;
    text-shadow: 1px 1px 0 #000;
}
.ticker2 li {
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #F4AF0B;
}
#fade {
    font-weight: normal;
    left: -15px;
    list-style-type: none;
    position: relative;
}
#fade li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 5px 0 0;
    text-align: left;
    line-height: 26px;
}
.info-list {
    text-align: center!important;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #000;
    background: #5272ab;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyNzJhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMmUzZDU5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBkMTgzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #5272ab 0%, #2e3d59 1%, #0d1832 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5272ab), color-stop(1%, #2e3d59), color-stop(100%, #0d1832));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5272ab 0%, #2e3d59 1%, #0d1832 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5272ab 0%, #2e3d59 1%, #0d1832 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5272ab 0%, #2e3d59 1%, #0d1832 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #5272ab 0%, #2e3d59 1%, #0d1832 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5272ab', endColorstr='#0d1832', GradientType=0);
    /* IE6-8 */
}
.info-list a {
    text-align: center;
}
#jalur {
    font-weight: bold;
    left: -10px;
    list-style-type: none;
    position: relative;
    height: 80px!important;
}
#jalur li {
    color: #F4AF0B;
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 210px;
    margin: 0;
    padding: 100px 0;
    text-align: center;
    text-shadow: 0 2px 0 #000000;
}
.subtittle {
    font-size: 14px !important;
    font-weight: normal;
    left: 60px;
    position: relative;
    text-transform: none;
    top: -81px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 2px 0 #000;
}
.clock-ticker {
    border-left: 8px solid #062358;
    background: #F4AF0B;
    bottom: 0;
    height: 45px;
    position: fixed;
    right: 0;
    width: 7%;
    z-index: 1031;
}
/* CLOCK*/
 @font-face {
    font-family:'BebasNeueRegular';
    src: url('../font/bebasneue-webfont.eot');
    src: url('../font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../font/bebasneue-webfont.woff') format('woff'), url('../font/bebasneue-webfont.ttf') format('truetype'), url('../font/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clock {
    position: fixed;
    top: 15px;
    right: 10px;
}
.date-top {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    float: left;
    margin-left: -30px;
    padding-right: 15px;
}
.date-top > li {
    display:inline;
}
/* Simple Animation */
 @-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}
@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}
/**
 * NEWSSTICKER
 */
 .glyphicon {
    margin-right: 4px !important;
}
.pagination .glyphicon {
    margin-right: 0px !important;
}
.pagination a {
    color: #555;
}
.panel ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.news-item {
    padding: 4px 4px;
    margin: 0px;
    border-bottom: 1px dotted #555;
}
.panel-grid {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 0;
    padding: 15px;
}
.running-text {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    margin: 6px;
    padding: 10px 45px 0 20px;
    width: 50%;
}
#nt-title {
    margin:0;
}
#nt-title li {
    list-style: none outside none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.digital {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    float: left;
    margin-left: -25px;
    margin-right: -25px;
    padding-right: 15px;
}
.digital li {
    display:inline;
}
.meridiem {
    font-size:10px;
}
.tittle-content-header > div {
    float: left;
    margin-right: 10px;
}
.tickercontainer {
    /* the outer div */
    background: rgba(0, 0, 0, 1.0);
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.tickercontainer .mask {
    /* that serves as a mask. so you get a sort of padding both left and right */
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    top: 13px;
    height: 20px;
    width: 100%;
    overflow: hidden;
}
ul.newsticker {
    font: bold 35px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
}
ul.newsticker li {
    float: left;
    background-position: -2px -2px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin: 0;
    padding-left: 25px;
    padding-right: 19px;
}
ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    color: #fff;
    font: bold 10px Verdana;
    margin: 0 50px 0 0;
}
ul.newsticker span {
    margin: 0 10px 0 0;
}
#webticker2 {
    float: right;
}
#webticker2 li {
    float: right;
    margin: 0;
    padding-left: 15px;
}
.informasi-dtng {
    background: #0C1220;
    height: 100%;
    width: 30%;
    position: fixed;
    right: 0;
    top: 107px;
    padding: 10px;
}
.progress-table {
    margin-top: 25px;
    color: #000;
}
.table-center {
    text-align: center;
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.table-halte {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left !important;
}
.progress {
    box-shadow: none;
}
.progress.active .bar {
    border-radius: 5px!important;
}
.progress-bg {
    background: #F4AF0B;
    border-radius: 5px;
    padding: 5px;
    margin-top: 85px;
}
img.bus-icon {
    float: right;
    position: relative;
    right: 3px;
    top: 1px;
    z-index: 5 !important;
}
.label {
    font-weight: normal!important;
    text-transform: capitalize!important;
}
#label ul {
    margin-left: -35px;
}
#label ul li {
    display: inline;
    margin-right: 5px;
}
/**
 * SIDEBAR 
 */
 #menu-showhide {
    margin: 10px;
}
.side-dash {
    margin: 10px;
    width: 230px;
}
.side-dash h3 {
    color: #FFFFFF !important;
    font-size: 12px;
    margin-bottom: 10px !important;
    padding: 10px;
}
.side-dash h3 span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin-left: -10px;
    padding: 4px 12px;
    text-align: center;
}
.side-dashh-list, .side-bar-list {
    margin-bottom: 25px;
    margin-left: -30px;
}
.side-dashh-list li, .side-bar-list li {
    font-size: 12px !important;
    line-height: 1.6em !important;
}
.side-dashh-list span {
    float: right !important;
    padding-right: 15px;
}
.side-dashh-list span i {
    left: 0 !important;
    margin-left: 8px;
}
.side-bar-list li {
    font-size: 12px !important;
    line-height: 4em !important;
}
.linebar, .linebar2, .linebar3 {
    float: right;
    margin-right: 10px;
}
.scroll {
    float: left;
    width: 21%;
    padding: 0;
    margin-left: 4%;
    margin-top: 40px;
}
.side-bar {
}
.topnav {
    padding: 40px 28px 25px 0;
}
img.icon-menu {
    margin-left: 10px;
    margin-right: 3px;
    margin-top: 3px;
}
ul.topnav {
    margin: 0;
    font-size: 14px;
    line-height: 0.5em!important;
    list-style: none!important;
    padding: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
ul.topnav li {
}
ul.topnav li a {
    color: #FFFFFF !important;
    display: block;
    font-size: 13px;
    line-height: 25px;
    list-style: none outside none;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
}
.menucon-main {
    color: red!important;
}

/**
 * TOP NAVBAR
 */
 .navbar-inverse .navbar-inner {
    background: #20262E !important;
    border: 0 solid #FFFFFF !important;
    box-shadow: none !important;
}
.navbar-color {
    border-bottom: 4px solid #FFFFFF;
    border-top: 5px solid #0F1D2F;
}
.noft-pos {
    position: absolute!important;
    top: -10px!important;
    z-index: 2147483647;
    right: 0;
}
.badge {
    border-radius: 9px 9px 9px 9px;
    padding-left: 6px!important;
    padding-right: 6px!important;
}
.navbar .brand {
    font-size: 22px !important;
    letter-spacing: -2px;
    text-transform: uppercase;
    ;
}
.navbar .brand span {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;
}
.navbar .brand i {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px 2px 2px 2px;
    color: #F4F4F4;
    font-size: 9px;
    font-style: normal;
    letter-spacing: 0;
    padding: 2px 3px;
    position: relative;
    right: -7px;
    top: -4px;
}
.devider-nav-top {
    width: 2px;
    height: 60px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    display: block;
    margin: 0px 7px 0 0px;
}
.btn-wigdet {
    margin:-7px 25px 0 0!important;
}
.input-widget {
    margin:-7px 25px 0 0!important;
}
.margin-iconic {
    margin-right: 10px;
}

/**
 *TITLE NAV ALT
 */
 .nest .title-alt {
    border-radius: 4px 4px 0 0;
    height: 50px;
    margin: 30px auto 0;
    border-bottom: 1px dotted #DDDDDD;
}
.nest .title-alt h6 {
    color: #9EA7B3;
    float: left;
    font-family:'Open Sans', serif;
    font-size: 14px;
    font-weight: normal;
    left: 15px;
    padding: 0 5px 2px;
    position: relative;
    text-transform: uppercase;
    top: 6px;
}
.nest .title-alt .titleIcon {
    background: none repeat scroll 0 0 #323a45;
    border-radius: 3px 0 0 0;
    color: #9EA7B3;
    float: left;
    font-size: 18px;
    height: 30px;
    margin: 0;
    padding: 13px 12px 7px 18px;
    width: 21px;
}
.nest .title-alt .titleToggle {
    border-radius: 3px 0 0;
    float: right;
    margin: 14px 10px 0 0;
}
.nest .title-alt .titleToggle .nav-toggle-alt {
    color: #DDDDDD;
    font-size: 16px;
    position: relative;
}
.nest .title-alt .titleToggle .nav-toggle-alt:hover {
    color: #3498DB;
}
.nest .title-alt .titleClose {
    border-radius: 3px 0 0;
    float: right;
    margin: 14px 15px 0 0;
}
.nest .title-alt .titleClose .gone {
    color: #DDDDDD;
    font-size: 16px;
    position: relative;
}
.nest .title-alt .titleClose .gone:hover {
    color: #FF0064;
}
.nest .title-alt .titleFull {
    border-radius: 3px 0 0;
    float: right;
    font-size: 24px;
    margin: 14px 12px 0 0;
    display: none;
}
.nest .title-alt .titleFull .fullexe {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #DDDDDD;
    font-size: 19px;
    padding: 0;
    position: relative;
    right: -5px;
    top: 0;
}
.nest .title-alt .titleFull .fullexe:hover {
    color: #6ADAE4;
}


/**
 * LEFT MENU
 * Left mobile menu
 */
 @media (max-width: 767px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-bottom: 30px;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }
    #paper-top {
        padding: 0 20px 0 30px !important;
        height: auto;
    }
    .tittle-content-header {
        margin: 0 0 0 30px!important;
    }
    #skin-select #toggle {
        display: none!important;
    }
    #skin-select {
        left:-250px!important;
        top: 31px!important;
    }
    #menu-showhide, .menu-left-nest {
        border-radius: 0 !important;
        margin: 1px 0 0 !important;
    }
    .side-bar {
        margin-top: -29px!important;
        display: block!important;
    }
    .navbar-top {
        margin: 0 10px!important;
    }
    .wrap-fluid {
        float: right!important;
        width: 100%!important;
    }
    #skin-select li {
        text-align: right!important;
    }
    #skin-select li span, ul.topnav h4, .noft-blue, .noft-blue-number, .noft-purple-number, .dark, .side-dash, .dropdown-wrap:after, .dropdown-setting:after, .widget-menu-hide, .config-wrap {
        display: none!important;
    }
    body {
        padding-left:50px!important;
    }
    .tooltip-tip2, .tooltip-tip {
        display: block!important;
    }
    #nt-title-container {
        margin: 15px 0 20px !important;
    }
    .nav.navbar-nav.navbar-right {
        margin: 35px 0 !important;
    }
    .navbar {
        margin-left: 0!important;
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin: 0!important;
    }
    .dropdown-menu .divider {
        background-color: rgba(0, 0, 0, 0.2)!important;
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
    }
    .dropdown-menu.dropdown-wrap div {
        width: auto!important;
    }
    .dropdown-menu > li > a {
        color: #FFFFFF!important;
    }
    .running-text {
        width: 100%!important;
        padding: 10px 45px 0 20px!important;
        height: 40px!important;
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, 0.4)!important;
    }
    .noft-red {
        top: 0!important;
        margin-right: 20px;
        position: relative!important;
        float: right;
    }
    .noft-green {
        top: 0!important;
        margin-right: 20px;
        position: relative!important;
        float: right;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        border: 0px solid #ccc!important;
        margin-left: 0!important;
    }
}
