<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/css/manage-style.css}" rel="stylesheet"/> 
    <link th:href="@{/css/loader-style.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.responsive.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet"/>
    <link th:href="@{/linearicons/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/manage.css}" rel="stylesheet"/>

</head>
<body>
	 <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
	<div  th:replace="component/navbar :: copy"></div>
	<div  th:replace="component/sidebar :: copy"></div>
	<div class="wrap-fluid">
		<div class="informationWrapper">
			<h1>班级信息</h1>
			<button class="btn btn-primary" type="button" id="add">
				<i class="fa fa-plus">添加班级</i>
			</button>
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="dataTable_wrapper">
								<table class="table table-bordered table-hover"
									id="dataTables">
									<thead>
										<tr>
											<th>年级</th>
										    <th>班级</th>
										    <th>班级账号</th>
										    <th>班主任</th>
											<th>教室</th>
											
										</tr>
									</thead>
									<tbody>
										<tr th:each="adminclass:${classes}" class="updateClass" th:attr="data-id=${adminclass.id},
										data-grade=${adminclass.grade},data-fullname=${adminclass.fullname},data-teacherid=${adminclass.teacher.id},
										data-roomid=${adminclass.room.roomId},data-username=${adminclass.username}">
											<td th:text="${adminclass.grade}"> </td>
											<td th:text="${adminclass.fullname}"></td>
											<td th:text="${adminclass.username}"></td>
											<td th:text="${adminclass.teacher.fullname}"></td>
											<td th:text="${adminclass.room.buildingName}+'  '+${adminclass.room.roomNum}"></td>
				
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- Ending Panel -->
				</div>
			</div>
			<!-- Ending Row -->
		</div>
	</div>
	
	<div class="modal fade" id="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="modalTitle"></h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<form role="form" >
								<div class="form-group">
									<label>年级</label>
									<select id="grade" class="form-control" name="grade">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select>
								</div>
								<div class="form-group">
									<label>班级</label> <input type="text" class="form-control" name="fullname"/>
								</div>
								<div class="form-group">
									<label>班级账号</label> <input type="text" class="form-control" name="username"/>
								</div>
								<div class="form-group">
									<label>密码</label> <input type="text" class="form-control" name="password" />
								</div>
								<div class="form-group">
									<label>班主任</label> 
									<select  id="teacher" class="form-control" name="teacher" >
										<option th:each="teacher:${teachers}" th:value="${teacher.id}" th:text="${teacher.fullname}"></option>
									</select>
								</div>
								<div class="form-group">
									<label>教室</label> 
									<select  id="room" class="form-control" name="classroom">
										<option th:each="room:${rooms}" th:value="${room.roomId}" th:text="${room.buildingName}+' '+${room.roomNum}"></option>
									</select>
								</div>
								<button class="btn btn-default" type="button" >保存</button>
								<button class="btn btn-default delete" type="button" style="display:none;">删除</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/preloader.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap//js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/changeBg.js}"></script>
	<script type="text/javascript" th:src="@{/js/load.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap-select/js/bootstrap-select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/manage/datatableCHN.js}"></script>
	<script type="text/javascript" th:src="@{/js/manage/adminclass.js}"></script>
</body>
</html>