<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/css/manage-style.css}" rel="stylesheet"/> 
    <link th:href="@{/css/loader-style.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.responsive.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet"/>
    <link th:href="@{/linearicons/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/manage.css}" rel="stylesheet"/>

</head>
<body>
	 <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
	<div  th:replace="component/navbar :: copy"></div>
	<div  th:replace="component/sidebar :: copy"></div>
	<div class="wrap-fluid">
		<div class="informationWrapper">
			<h1>课程信息</h1>
			<div class="row">
				<div class="col-md-3">
					<select id="grade" class="selectpicker" multiple="multiple"  data-actions-box="true" title="选择年级">
						<option value="1">高一</option>
						<option value="2">高二</option>
						<option value="3">高三</option>
					</select>
				</div>
				<div class="col-md-3">
					<select id="class" class="selectpicker" multiple="multiple"  data-actions-box="true" title="选择班级">

					</select>
				</div>
				<div class="col-md-3">
					<form id="getCourseForm" action="" method="post">
						<input id="adminClasses" name="adminClasses" type="hidden"/>
						<button type="button" id="getCourse" class="btn btn-default">获取</button>
					 </form>
				</div>
			</div>
			<br/>
			<button class="btn btn-primary" type="button" id="add">
				<i class="fa fa-plus">添加课程</i>
			</button>
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="dataTable_wrapper">
								<table class="table table-bordered table-hover"
									id="dataTables">
									<thead>
										<tr >
										    <th>科目</th>
											<th>任课老师</th>
											<th>教室</th>
											<th>班级</th>
											<th>时间</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="course:${courses}" class="update" th:attr="data-id=${course.courseId},
										data-roomid=${course.room.roomId},data-teacherid=${course.teacher.id},
										data-subjectid=${course.subject.subjectId},data-periodid=${course.period.id},
										data-adminclassid=${course.adminClass.id},data-weekday=${course.weekday}">
											<td th:text="${course.subject.title}"></td>
											<td th:text="${course.teacher.fullname}"></td>
											<td th:text="${course.room.buildingName}+' '+${course.room.roomNum}"></td>
											<td th:text="${course.adminClass}?${course.adminClass.fullname}:${course.virtualClass.name}"></td>
											<td th:text="'星期'+${course.weekday}+' ： '+${course.period.beginTime}+'-'+${course.period.endTime}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- Ending Panel -->
				</div>
			</div>
			<!-- Ending Row -->
		</div>
	</div>
	
	<div class="modal fade" id="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="modalTitle"></h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<form role="form" >
								<div class="form-group" id="getSubject" >
									<label>科目</label> 
									<br/>
									<select  class="selectpicker" id="subject" name="subject" title="--请选择--" >
									</select>
								</div>
								<div class="form-group" id="getTeacher">
									<label>任课老师</label>
									<br/> 
									<select class="selectpicker" id="teacher" name="teacher" title="--请选择--" data-live-search="true">
									</select>
								</div>
								<div class="form-group" id="getRoom">
									<label>教室</label> 
									<br/> 
									<select  class="selectpicker" id="classroom" name="classroom" title="--请选择--" data-live-search="true">
									</select>
								</div>
<!-- 								<div class="form-group"> -->
<!-- 		                        	<input type="radio" name="classtype" value="admin" checked="checked" onclick="courseShow();"/>行政班 -->
<!-- 		                        	<input type="radio" name="classtype" value="virtual" onclick="courseShow();"/>虚拟班 -->
<!-- 		                        </div> -->
		                        <div class="form-group" id="getAdminClass">
									<label>班级</label>
									<br/> 
									<select  class="selectpicker" id="adminClass" name="adminClass" title="--请选择--" data-live-search="true">
									</select>
								</div>
<!-- 								<div class="form-group" style="display:none;"> -->
<!-- 									<label>虚拟班</label>  -->
<!-- 									<select class="selectpicker" id="virtualclass" name="virtualclass"> -->
<!-- 									</select> -->
<!-- 								</div> -->
								<div class="form-group">
									<label>星期</label> 
									<br/>
									<select  class="selectpicker" id="weekday" name="weekday" title="--请选择--" data-live-search="true">
										<option value="1">星期一</option>
										<option value="2">星期二</option>
										<option value="3">星期三</option>
										<option value="4">星期四</option>
										<option value="5">星期五</option>
									</select>
								</div>
								<div class="form-group" id="getPeriod">
									<label>时间段</label> 
									<br/>
									<select class="selectpicker" id="period" name="period" title="--请选择--" data-live-search="true">
										<option value="">--请选择--</option>
									</select>
								</div>
								<button class="btn btn-default save" type="button" >保存</button>
								<button class="btn btn-default delete" type="button" style="display:none;">删除</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/preloader.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap//js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/changeBg.js}"></script>
	<script type="text/javascript" th:src="@{/js/load.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap-select/js/bootstrap-select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/classSelect.js}"></script>
	<script type="text/javascript" th:src="@{/js/manage/datatableCHN.js}"></script>
<!-- 	<script type="text/javascript" th:src="@{/js/manage/resource.js}"></script> -->
	<script type="text/javascript" th:src="@{/js/manage/course.js}"></script>
	
</body>
</html>