<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/css/manage-style.css}" rel="stylesheet"/> 
    <link th:href="@{/css/loader-style.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.responsive.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet"/>
    <link th:href="@{/linearicons/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/manage.css}" rel="stylesheet"/>

</head>
<body>
	 <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    
	<div  th:replace="component/navbar :: copy"></div>
	<div  th:replace="component/sidebar :: copy"></div>
	
	<div class="wrap-fluid">
		<div class="informationWrapper">
			<h1>课程时间</h1>
			<button class="btn btn-primary" type="button" id="add">
				<i class="fa fa-plus">添加课程时间</i>
			</button>
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="dataTable_wrapper">
								<table class="table table-bordered table-hover"
									id="dataTables" style="font-size:16px;">
									<thead>
										<tr>
											<th>开始时间</th>
											<th>结束时间</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="period:${periods}">
											<td th:text="${period.beginTime}"></td>
											<td th:text="${period.endTime}"></td>
											<td class='show'><button class="btn btn-danger btn-sm delete" type="button"
												th:attr="data-id=${period.id}">删除</button>
												<button class="btn btn-warning btn-sm update" type="button"
												th:attr="data-id=${period.id},												
												data-id=${period.id}">修改</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- Ending Panel -->
				</div>
			</div>
			<!-- Ending Row -->
		</div>
		
		
		
		<div class="modal fade" id="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="modalTitle"></h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-12">
								<form role="form" th:action="@{/manage/updatePeriod}"  th:method="post" >
									<div class="form-group">
										<label>开始时间</label> <input type="time" class="form-control" name="beginTime"/>
									</div>
									<div class="form-group">
										<label>结束时间</label> <input type="time" class="form-control" name="endTime"/>
									</div>
									<div class="form-group" >
										<input type="hidden" class="form-control" name="periodId"/>
									</div>
									<input type="submit"/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>

	
	<script type="text/javascript" th:src="@{/js/preloader.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap//js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/changeBg.js}"></script>
	<script type="text/javascript" th:src="@{/js/load.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap-select/js/bootstrap-select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/manage/period.js}"></script>
	<script type="text/javascript" th:src="@{/js/manage/datatableCHN.js}"></script>
</body>
</html>