<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
   
   
    <div class="portfolio" id="menu-3" style="display: none;" th:fragment="album">
    	<div class="container">
          	<div class="col-md-3 col-sm-6 templatemo_leftgap">
				<div class="templatemo_insideportfolio templatemo_botgap">
					<div class="templatemo_portfoliotext">
                		<h2>班级相册</h2>
                    	<div class="clear"></div>
                    	富强、民主、文明、和谐
                    	自由、平等、公正、法治
                    	爱国、敬业、诚信、友善
					</div>
				</div>
            	<div class="templatemo_portfolioback">
                	<div class="templatemo_link">
                		<a class="show-1 templatemo_homeportfolio" href="#">返回</a>
                	</div>
                </div>       
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
				<div class="templatemo_botgap templatemo_portfotopgap gallery-item">
					<img th:src="${display.pictures.get(0).resource}" class="image" alt="gallery 1"/>
					<div class="overlay">
						<a th:href="${display.pictures.get(0).resource}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
				</div>				
                <div class="templatemo_botgap templatemo_topgap gallery-item">
					<img th:src="${display.pictures.get(1).resource}" class="image" alt="gallery 2"/>
					<div class="overlay">
						<a th:href="${display.pictures.get(1).resource}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
				</div>
                <div class="templatemo_botgap templatemo_topgap gallery-item">
             	   <img th:src="${display.pictures.get(2).resource}" class="image" alt="gallery 3"/>
                   <div class="overlay">
						<a th:href="${display.pictures.get(2).resource}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
				<div class="templatemo_botgap templatemo_portfotopgap gallery-item">
					<img th:src="${display.pictures.get(3).resource}" class="image" alt="gallery 4"/>
					<div class="overlay">
						<a th:href="${display.pictures.get(3).resource}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
				</div>				
                <div class="templatemo_botgap templatemo_topgap gallery-item">
					<img th:src="${display.pictures.get(4).resource}" class="image" alt="gallery 5"/>
					<div class="overlay">
						<a th:href="${display.pictures.get(4).resource}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
				</div>
                <div class="templatemo_botgap templatemo_topgap gallery-item">
             	   <img th:src="${display.pictures.get(5).resource}" class="image" alt="gallery 6"/>
                   <div class="overlay">
						<a th:href="${display.pictures.get(5).resource}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
            	<div class="templatemo_botgap templatemo_portfotopgap gallery-item">
					<img th:src="${display.pictures.get(6).resource}" class="image" alt="gallery 7"/>
					<div class="overlay">
						<a th:href="${display.pictures.get(6).resource}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
				</div>				
                <div class="templatemo_botgap templatemo_topgap gallery-item">
					<img th:src="${display.pictures.get(7).resource}" class="image" alt="gallery 8"/>
					<div class="overlay">
						<a th:href="${display.pictures.get(7).resource}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
				</div>
                <div class="templatemo_botgap templatemo_topgap gallery-item">
             	   <img th:src="${display.pictures.get(8).resource}" class="image" alt="gallery 9"/>
                   <div class="overlay">
						<a th:href="${display.pictures.get(8).resource}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
                </div>
            </div>
		</div>
    </div>
    
</body>
</html>