<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
   
   
    <div class="portfolio" id="menu-3" style="display: none;" th:fragment="album">
    	<div class="container">
          	<div class="col-md-3 col-sm-6 templatemo_leftgap">
				<div class="templatemo_insideportfolio templatemo_botgap">
					<div class="templatemo_portfoliotext">
                		<h2>班级相册</h2>
                    	<div class="clear"></div>
                    	今天是个好日子啊~
					</div>
				</div>
            	<div class="templatemo_portfolioback">
                	<div class="templatemo_link">
                		<a class="show-1 templatemo_homeportfolio" href="#">返回</a>
                	</div>
                </div>       
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
				<div class="templatemo_botgap templatemo_portfotopgap gallery-item">
					<img th:src="@{/img/display/se3.jpg}" class="image" alt="gallery 1"/>
					<div class="overlay">
						<a th:href="@{/img/display/se3.jpg}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
				</div>				
                <div class="templatemo_botgap templatemo_topgap gallery-item">
					<img th:src="@{/img/display/se3.jpg}" class="image" alt="gallery 2"/>
					<div class="overlay">
						<a th:href="@{/img/display/se3.jpg}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
				</div>
                <div class="templatemo_botgap templatemo_topgap gallery-item">
             	   <img th:src="@{/img/display/se2.jpg}" class="image" alt="gallery 3"/>
                   <div class="overlay">
						<a th:href="@{/img/display/se2.jpg}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
					</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">

            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
            
            </div>
		</div>
    </div>
    
</body>
</html>