<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="content about" id="menu-5" th:fragment="bulletin">
    	<div class="container">
        	<div class="row templatemo_bordergapborder">
            <!--vertical Tabs-->
	      		<div id="ab">
	            	<div class="col-md-3 col-sm-12 templatemo_leftgap_about">
			            <ul class="resp-tabs-list templatemo_tab">
			                <li>新闻</li>
			                <li>作业</li>
			                <li>光荣榜</li>
			            </ul>
	            		<div class="templatemo_aboutlinkwrapper">
	     					<div class="templatemo_link">
	     						<a class="show-1 templatemo_homeabout" href="#">返回</a>
	     					</div>
	            		</div>
	            	</div>
		            <div class="resp-tabs-container templatemo_aboutcontainer">
		                <div>
		                	<div class="templatemo_col100 templatemo_rightgap_about">
		                    	<div class="templatemo_graybg templatemo_botgap">
									<div class="templatemo_frame">
		                    			<h2>Our Team</h2>
		                    		</div>
		                        </div>
							</div>
						</div>
		                <div>
		                	<div class="templatemo_col100 templatemo_rightgap_about">
		                    	<div class="templatemo_graybg templatemo_botgap">
		                        	<div class="templatemo_frame">
		                    			<h2>Our History</h2>
		                    		</div>
		                        </div>
		                    </div>
						</div>
		                <div>
		                	<div class="templatemo_col100 templatemo_rightgap_about">
		                    	<div class="templatemo_graybg templatemo_botgap">
									<div class="templatemo_frame">
		                    			<h2>Our Vision</h2>
		                    		</div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
				<div class="col-sm-12 templatemo_leftgap templatemo_aboutlinkwrapper1">
	               	<div class="templatemo_aboutback templatemo_botgap">
	                	<div class="templatemo_link">
	                		<a class="show-1 templatemo_homeabout" href="#">返回</a>
	                	</div>
	                </div>
				</div>
	    	</div>
		</div>
	</div>

</body>
</html>