<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

   <div class="content services" id="menu-2" th:fragment="information">
		<div class="container">
        	<div class="row templatemo_bordergapborder">
            	<div class="col-md-3 col-sm-12 templatemo_leftgap">
                    <div class="templatemo_mainservice templatemo_botgap">
	                	<div class="templatemo_linkservice">
	                		<a class="" href="#">上一条</a>
	                	</div>
               		</div>
               		<div class="templatemo_mainservice templatemo_botgap">
	                	<div class="templatemo_linkservice">
	                		<a class="" href="#">下一条</a>
	                	</div>
               		</div>
                    <div class="templatemo_mainservice templatemo_botgap">
	                	<div class="templatemo_linkservice">
	                		<a class="show-1 templatemo_homeservice" href="#">返回</a>
	                	</div>
               		</div>
                </div>
                
                <div class="col-md-9 templatemo_leftgap">
                	<div class="templatemo_graybg">
                    	<div class="templatemo_frame">
                			<h2>Our Services</h2>
                    		<div class="clear"></div>
							<p>通知一下</p>
			            </div>
               	  	</div>
				</div>
            </div>
        </div>
     </div>

     </body>
</html>