<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="content contact" id="menu-6" th:fragment="introduction">
    	<div class="container">
        	<div class="row templatemo_bordergapborder">
            	<div class="col-md-3 col-sm-12 templatemo_leftgap">
                	<div class="templatemo_mainimg templatemo_botgap">
                		<img th:src="@{/img/display/se6.jpg}" class="filter" alt="contact image"/></div>
                    <div class="templatemo_maincontact templatemo_botgap">
	                	<div class="templatemo_linkcontact">
	                		<a class="show-1 templatemo_homecontact" href="#">返回</a>
	                	</div>
                	</div>
                </div>
                
                <div class="col-md-9 col-sm-12 templatemo_leftgap">
                	<div class="templatemo_graybg templatemo_paddinggap" style="background:#4aa3db;">
                		<p th:text="${display.introduction}"></p>
                    	<div class="clear"></div>

               	  </div>
				</div>
            </div>
        </div>

    </div>
</body>
</html>