target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.gitignore
#*.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.properties
*.jpg
**/webapp/**
*.ipr
*.gitignore

src/main/webapp/*
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/