<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/css/manage-style.css}" rel="stylesheet"/> 
    <link th:href="@{/css/loader-style.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet"/>
    <link th:href="@{/linearicons/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/manage.css}" rel="stylesheet"/>

</head>
<body>
	 <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
	<div  th:replace="component/navbar :: copy"></div>
	<div  th:replace="component/sidebar :: copy"></div>
	<div class="wrap-fluid">
		<div class="informationWrapper">
			<h1>发布通知</h1>
			<br/>
			<div class="row" >				
				<div class="col-md-3">
					<select id="grade" class="selectpicker" multiple="multiple"  data-actions-box="true" title="选择年级">
						<option value="1">高一</option>
						<option value="2">高二</option>
						<option value="3">高三</option>
					</select>
				</div>
				<div class="col-md-3">
					<select id="class" class="selectpicker" multiple="multiple"  data-actions-box="true" title="选择班级">

					</select>
				</div>
			</div>
			<div class ="row">
				<div class="col-md-12">
					<h2>标题</h2>
					<input type="text" class="form-control" id="informationHeader" style="width:100%;"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>正文</h2>
					<textarea id="informationEditor" cols="20" rows="2" class="ckeditor">
					</textarea>
					<br/>
						<button type="button" id="addNews" class="btn btn-default">
							<span class="entypo-pencil"></span>&nbsp;&nbsp;发布</button>
				</div>
				
				
			</div>
			
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/preloader.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap//js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/changeBg.js}"></script>
	<script type="text/javascript" th:src="@{/js/load.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/panel.js}"></script>
	<script type="text/javascript" th:src="@{/js/addNews.js}"></script>
	<script type="text/javascript" th:src="@{/js/classSelect.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap-select/js/bootstrap-select.min.js}"></script>
	<script>
		CKEDITOR.replace('informationEditor');

	</script>
</body>
</html>