<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div id="skin-select" th:fragment="copy">
        <div id="logo">
            <h1>SE
                <span>v1.0</span>
            </h1>
        </div>
        <a id="toggle">
            <span class="entypo-menu"></span>
        </a>
        <div class="dark">
            <form action="#">
                <span>
                    <input type="text" name="search" value="" class="search rounded id_search" placeholder="搜索" autofocus=""></input>
                </span>
            </form>
        </div>
        <div class="search-hover">
            <form id="demo-2">
                <input type="search" placeholder="搜索" class="id_search"></input>
            </form>
        </div>

        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span >基本功能</span>
                                
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/se/manage/news}" title="通知">
                                <i class="icon-conversation"></i>
                                <span>通知</span>
                            </a>

                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/se/manage/timetable}" title="课表">
                                <i class="icon-menu"></i>
                                <span>课表</span>
                            </a>
                        </li>
                      	<li>
                            <a class="tooltip-tip ajax-load" th:href="@{/se/manage/courseware}" title="浏览课件">
                                <i class="icon-document-new"></i>
                                <span>浏览课件</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/se/cd}" title="班级展示">
                                <i class="icon-star"></i>
                                <span>班级展示</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span>教务功能</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="上传课件">
                                <i class="icon-upload"></i>
                                <span>上传课件</span>
                            </a>
                        </li>
                       <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/se/manage/addnews}" title="发布通知">
                                <i class="icon-document-edit"></i>
                                <span>发布通知</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span>管理功能</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="班级管理">
                                <i class="icon-home"></i>
                                <span>班级管理</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/se/manage/stu}" title="学生管理">
                                <i class="icon-user-group"></i>
                                <span>学生管理</span>
                             </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="课程管理">
                                <i class="icon-view-thumb"></i>
                                <span>课程管理</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip " href="#" title="教师管理">
                                <i class="icon-user"></i>
                                <span>教师管理</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>