<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/css/manage-style.css}" rel="stylesheet"/> 
    <link th:href="@{/css/loader-style.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.responsive.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet"/>
    <link th:href="@{/linearicons/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/manage.css}" rel="stylesheet"/>

</head>
<body>
	 <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
	<div  th:replace="component/navbar :: copy"></div>
	<div  th:replace="component/sidebar :: copy"></div>
	<div class="wrap-fluid">
		<div class="informationWrapper">
			<h1>选课</h1>
			<br/>
			<p>您已经选择了 课</p>
			<a th:href="@{drop}">
				<button class="btn btn-primary">重置选课</button>
			</a>
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="dataTable_wrapper">
								<table class="table table-bordered table-hover"
									id="dataTables">
									<thead>
										<tr>
										    <th>科目</th>
											<th>任课老师</th>
											<th>教室</th>
											<th>选课人数</th>
											<th>星期</th>
											<th>时间</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="course:${courses}" class="select" th:attr="data-id=${course.courseId},
										data-capability=${course.capability},data-number=${course.number}">
											<td th:text="${course.subject.title}"></td>
											<td th:text="${course.teacher.fullname}"></td>
											<td th:text="${course.room.buildingName}+' '+${course.room.roomNum}"></td>
											<td th:text="${course.number}+'/'+${course.capability}"></td>
											<td th:text="${course.weekday}"></td>
											<td th:text="${course.period.beginTime}+'-'+${course.period.endTime}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- Ending Panel -->
				</div>
			</div>
			<!-- Ending Row -->
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/preloader.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap//js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/changeBg.js}"></script>
	<script type="text/javascript" th:src="@{/js/load.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap-select/js/bootstrap-select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/manage/datatableCHN.js}"></script>
<!-- 	<script type="text/javascript" th:src="@{/js/manage/resource.js}"></script> -->
	<script type="text/javascript" th:src="@{/js/base/elective.js}"></script>
	
</body>
</html>