<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/css/manage-style.css}" rel="stylesheet"/> 
    <link th:href="@{/css/loader-style.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet"/>
    <link th:href="@{/linearicons/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/manage.css}" rel="stylesheet"/>

</head>
<body>
	 <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
	<div  th:replace="component/navbar :: copy"></div>
	<div  th:replace="component/sidebar :: copy"></div>
	<div class="wrap-fluid">
		<div class="informationWrapper">
			<h1>修改密码</h1>
			<br/>
			<div class="row">
				<div class="col-md-5">
		            <form role="form" action="" method="post" style="weight:50%;">
		            	<div class="form-group">
		            		
		                	<input type="text" name="username" readonly="true" class="form-username form-control" id="username" th:value="${sec_username}"></input>
		                </div>
		                <div class="form-group">
		                	<label class="sr-only" for="oldPassword">原密码</label>
		                	<input type="password" name="oldPassword" placeholder="原密码" class="form-password form-control" id="oldPassword"></input>
		                </div>
		                <div class="form-group">
		                	<label class="sr-only" for="newPassword">新密码</label>
		                	<input type="password" name="newPassword" placeholder="新密码" class="form-password form-control" id="newPassword"></input>
		                </div>
		                <button type="submit" class="btn">修改</button>
		            </form>
	            </div>
            </div>
		</div>
	</div>
	

	<script type="text/javascript" th:src="@{/js/preloader.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap//js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/changeBg.js}"></script>
	<script type="text/javascript" th:src="@{/js/load.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>