<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/> 
    <link th:href="@{/css/indexstyle.css}" rel="stylesheet"/> 
    <link th:href="@{/css/form-elements.css}" rel="stylesheet"/>
    
</head>
<body>
        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			
                        			<h1><strong>您的访问出错了！</strong></h1>  
                        			<h1 th:text="'错误状态码：'+${status}"></h1> 
                        			<h3 th:text="'信息：'+${message}"></h3>
                        		</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
	
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.backstretch.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script> 



</body>
</html>