<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

		<nav class="navbar navbar-static-top" th:fragment="copy">
			<div class="container-fluid">
				 <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
	                    <span class="entypo-menu"></span>
	                </button>
	                <div id="logo-mobile" class="visible-xs">
	                   <a th:href="@{/se}"><h1>SE<span>v1.0</span></h1></a>
	                </div>
	            </div>
	            
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
	                <ul style="margin-right:0;" class="nav navbar-nav navbar-right">
	                    <li>	
	                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" th:text="'您好,'+${user.fullname}+'!'">	
	                           	 您好，老师！ <b class="caret"></b>
	                        </a>
	                        <ul style="margin-top:14px;" role="menu" class="dropdown-setting dropdown-menu">	
	                            <li>	
	                                <a th:href="@{/base/password}">	
	                                    <span class="entypo-user"></span>&#160;&#160;修改密码</a>	
	                            </li>	
	                            <li>	
	                                <a th:href="@{/base/news}">	
	                                    <span class="entypo-vcard"></span>&#160;&#160;查看通知</a>	
	                            </li>	
	                            <li>	
	                                <a th:href="@{/base/timetable}">	
	                                    <span class="entypo-lifebuoy"></span>&#160;&#160;查看课表</a>	
	                            </li>	
	                            <li class="divider"></li>	
	                            <li>	
	                                <a th:href="@{/logout}">	
	                                    <span class="entypo-logout"></span>&#160;&#160;登出</a>	
	                            </li>	
	                        </ul>	
	                    </li>
	
	                    <li>	
	                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">	
	                            <span class="icon-gear"></span>&#160;&#160;设置</a>	
	                        <ul role="menu" class="dropdown-setting dropdown-menu">			
	                            <li class="theme-bg">	
	                                <div id="button-bg"></div>	
	                                <div id="button-bg2"></div>	
	                                <div id="button-bg3"></div>	
	                                <div id="button-bg5"></div>	
	                                <div id="button-bg6"></div>	
	                                <div id="button-bg7"></div>	
	                                <div id="button-bg8"></div>	
	                                <div id="button-bg9"></div>	
	                                <div id="button-bg10"></div>	
	                                <div id="button-bg11"></div>	
	                                <div id="button-bg12"></div>
	                                <div id="button-bg13"></div>	
	                            </li>	
	                        </ul>	
	                    </li>	
	                </ul>
				</div>
			</div>
		</nav>

</body>
</html>
