<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div id="skin-select" th:fragment="copy">
        <div id="logo">
            <h1>SE
                <span>v1.0</span>
            </h1>
        </div>
        <a id="toggle">
            <span class="entypo-menu"></span>
        </a>
        <div class="dark">
            <form action="#">
                <span>
                    <input type="text" name="search" value="" class="search rounded id_search" placeholder="搜索" autofocus=""></input>
                </span>
            </form>
        </div>


        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span >基本功能</span>
                                
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/base/news}" title="通知">
                                <i class="icon-conversation"></i>
                                <span>通知</span>
                            </a>

                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/base/timetable}" title="课表">
                                <i class="icon-menu"></i>
                                <span>课表</span>
                            </a>
                        </li>
                      	<li>
                            <a class="tooltip-tip ajax-load" th:href="@{/base/courseware}" title="浏览课件">
                                <i class="icon-document-new"></i>
                                <span>浏览课件</span>
                            </a>
                        </li>
                        <li th:if="${sec_role}=='ROLE_STUDENT'">
                            <a class="tooltip-tip ajax-load" th:href="@{/manage/electivecourse/initselect}" title="发布通知">
                                <i class="icon-document-edit"></i>
                                <span>选课</span>
                            </a>
                        </li>
                    </ul>
                    <ul th:if="${sec_role}=='ROLE_TEACHER'or${sec_role}=='ROLE_ADMIN'" class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span >教务功能</span>      
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/edu/courseware}" title="上传课件">
                                <i class="icon-upload"></i>
                                <span>上传课件</span>
                            </a>
                        </li>
                       <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/edu/addnews}" title="发布通知">
                                <i class="icon-document-edit"></i>
                                <span>发布通知</span>
                            </a>
                        </li>
                    </ul>
                    <ul th:if="${sec_role}=='ROLE_CLASS'" class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span>展示功能</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/display/class}" title="班级展示">
                                <i class="icon-star"></i>
                                <span>班级展示</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/editDisplay/introduction}" title="编辑班级介绍">
                                <i class="icon-document-edit"></i>
                                <span>编辑班级介绍</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/editDisplay/bulletin}" title="编辑班级公告">
                                <i class="icon-document-edit"></i>
                                <span>编辑班级公告</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/editDisplay/album}" title="编辑班级相册">
                                <i class="icon-document-edit"></i>
                                <span>编辑班级相册</span>
                            </a>
                        </li>
                    </ul>
                    <ul th:if="${sec_role}=='ROLE_ADMIN'" class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span>管理功能</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/manage/class}" title="班级管理">
                                <i class="icon-home"></i>
                                <span>班级管理</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/manage/student}" title="学生管理">
                                <i class="icon-user-group"></i>
                                <span>学生管理</span>
                             </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/manage/course}" title="课程管理">
                                <i class="icon-view-thumb"></i>
                                <span>课程管理</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" th:href="@{/manage/electivecourse}" title="课程管理">
                                <i class="icon-view-list-large"></i>
                                <span>选修课管理</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip " th:href="@{/manage/teacher}" title="教师管理">
                                <i class="icon-user"></i>
                                <span>教师管理</span>
                            </a>
                        </li>
<!--                        	<li> -->
<!--                             <a class="tooltip-tip " th:href="@{/manage/password}" title="密码重置"> -->
<!--                                 <i class="icon-user"></i> -->
<!--                                 <span>密码重置</span> -->
<!--                             </a> -->
<!--                         </li>                          -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>